#navbar {
    display: flex;
    gap: 30px;
    font-family: MuseoSans-700, sans-serif;
    font-size: 14px;
    color: #4b4b4b;;
}

.right {
    margin-left: 300px;
}

.navbtn {
    height: 45px;
    width: 150px;
    margin-top: 5px;
    font-family: MuseoSans-700, sans-serif;
    font-weight: 400;
    background-color: #f37e5d;
    padding: 12px 20px;
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
    min-width: 150px;
    border: 0;

}
#center>h1{
    width: 70%;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}

#center {
    text-align: center;
    width: 100%;
    margin: auto;
    font-family: MuseoSans-700, sans-serif;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: -.3px;
    color: #4b4b4b;;
    text-transform: none;
    
}
#center>p{
    font-size: 18px;
    margin-top: 20px;
    font-family: MuseoSans-300,sans-serif;
    color: #4b4b4b;
}
#center>button{
    height: 45px;
    width: 220px;
    font-family: MuseoSans-700, sans-serif;
    font-weight: 600;
    background-color: #f37e5d;
    padding: 12px 20px;
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
    min-width: 150px;
    border: 0;
}
#center>img{
    width: 100%;
}
#center2{
    font-family: MuseoSans-700, sans-serif;
    text-align: center;
    color: #4b4b4b;
}
#center2>img{
    margin: 10px;
}
#bottom1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    width: 70%;
    gap: 30px;
    margin: auto;
    

    
}
#bottom1>div{
   
    
    font-family: MuseoSans-700,sans-serif;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #4b4b4b;
}
.img{
height: 100px;
width: 100%;
}