#head>h1{
    text-align: center;
    font-weight: normal;
    font-family: "MuseoSans-700",sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -0.3px;
    text-transform: none;
    color: #4b4b4b;
}
#head>p{
    text-align: center;
    font-family: "MuseoSans-300",sans-serif;
   
    line-height: 170%;
    color:gray;
    margin-top: -25px;
    font-weight: 100;
    
}

form{
    border: 1px solid rgb(219, 219, 219);
   width: 40%;
   margin: auto;
   padding-top: 20px;
}
form>input{
    width: 80%;
    margin-left: 40px;
    height: 40px;
    padding-left: 15px;
    border: 1px solid rgb(219, 219, 219);
}
form>p{
    margin-left: 40px;
    margin-bottom: 5px;
    color: gray;
    font-size: 14px;
}
.or{
    justify-content: center;
   margin: auto;
   align-content: center;
  
   display: flex;
   margin: 15px;
}

#btn1{
    margin-top: 20px;
    width: 84%;
    margin-left: 40px;
    height: 37px;
    background: #f37e5d;
    color: #fff;
    border: 0;
    border-radius: 3px;
    font-weight: bold;
}
.btn{
    width: 55%;
   justify-content: center;
   margin: auto;
   align-content: center;
   align-items: center;
   display: flex;
   background-color: white;
   border: 1px solid rgb(219, 219, 219);
   height: 35px;
   border-radius: 3px;
}
.fb{
    height: 80%;
    margin-right: 10px;
}
.apple{
    height: 80%;
    margin-right: 10px;
}
.google{
    margin-right: 10px;
    height: 80%;
}
.by{
    width: 86%;
    color:#a4a4a4;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 50px;
}